:root 
{
    font-family: 'Courier New', Courier, monospace;
}
#Body_Header
{
    margin: auto;
    padding: 15em;
    background-color: brown;
}
#Body_Header, .slider
{
    margin: 5px;
    background-color: darkred;
}
.Title_Header
{
    color: white;
}